<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljj.mapper.DishMapper">
    <select id="listDish" resultType="com.ljj.pojo.Dish">
        SELECT * FROM Menu
    </select>

    <insert id="addDish">
        INSERT INTO Menu (dish_name, price) VALUE (#{dish_name},#{price})
    </insert>

    <delete id="deleteDish">
        DELETE FROM Menu WHERE dish_id = #{dish_id}
    </delete>

    <select id="idgetDish" resultType="com.ljj.pojo.Dish">
        SELECT * FROM Menu WHERE dish_id = #{dish_id}
    </select>

    <update id="updateDish">
        UPDATE Menu SET dish_name = #{dish_name}, price = #{price} WHERE dish_id = #{dish_id}
    </update>

    <!-- use index to search -->
    <select id="searchDish" resultType="com.ljj.pojo.Dish">
        SELECT * FROM Menu WHERE dish_name = #{dish_name}
    </select>
</mapper>