<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljj.mapper.OrderMapper">
    <select id="listOrder" resultType="com.ljj.pojo.Order">
        SELECT o.order_id, o.prefer, o.time, o.dish_list, o.complete, u.user_id, u.phone, u.`table`
        FROM Orders o
        JOIN User u ON o.user_id = u.user_id;
    </select>

    <select id="idgetOrder" resultType="com.ljj.pojo.Order">
        SELECT * FROM Orders WHERE orderId=#{orderId}
    </select>

    <update id="completeOrder">
        UPDATE Orders SET complete=true WHERE order_id=#{order_id}
    </update>

    <insert id="addOrder">
        INSERT INTO Orders (prefer, time, dish_list, complete, user_id) 
        VALUES (#{prefer}, #{time}, #{dish_list}, 0, #{user_id})
    </insert>
</mapper>