<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljj.mapper.StaffMapper">
    <select id="listStaff" resultType="com.ljj.pojo.Staff">
        SELECT * FROM Staff
    </select>

    <select id="namegetStaff" resultType="com.ljj.pojo.Staff">
        SELECT * FROM Staff WHERE staff_name = #{staff_name}
    </select>
</mapper>