<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljj.mapper.UserMapper">
    <select id="listUser" resultType="com.ljj.pojo.User">
        SELECT * FROM User
    </select>

    <select id="phonegetUser" resultType="com.ljj.pojo.User">
        SELECT * FROM User WHERE phone = #{phone}
    </select>

    <update id="updateUser">
        UPDATE User SET table = #{table}, people = #{people} WHERE user_id = #{user_id}
    </update>

    <insert id="addUser">
        INSERT INTO User (user_id, table, people) VALUES (#{user_id}, #{table}, #{people})
    </insert>
</mapper>