<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljj.mapper.UserMapper">
    <select id="listUser" resultType="com.ljj.pojo.User">
        SELECT * FROM User
    </select>
</mapper>